@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta la barra de scroll mientras se sigue pudiendo desplazar el contenido
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
/*  -ms-overflow-style: none; /* IE/Edge viejos */
/*}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, navegadores basados en Chromium */
/*} */

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}